@model WebCafe.Models.SanPham
@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form action="~/QLSanPham/SuaSanPham/@Model.MaSP" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-6">
            <input type="hidden" class="form-control" id="formrow-taikhoan-input" name="MaSP" value="@Model.MaSP" required>
            <div class="form-group">
                <label for="TenSP">Tên sản phẩm</label>
                <input id="TenSP" name="TenSP" type="text" value="@Model.TenSP" class="form-control">
            </div>
            <div class="form-group">
                <label for="nguonGoc">Nguồn gốc</label>
                <input id="manufacturername" name="NguonGoc" value="@Model.NguonGoc" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="soLuong">Số lượng</label>
                <input id="soLuong" name="SoLuongTon" type="number" value="@Model.SoLuongTon" class="form-control">
            </div>
            <div class="form-group">
                <label for="khoiLuong">Khối lượng</label>
                <input id="khoiLuong" name="KhoiLuong" type="number" value="@Model.SoLuongTon" class="form-control">
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <input id="slug" name="Url_friendly" value="@Model.Url_friendly" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="donGia">Đơn giá</label>
                <input id="donGia" name="DonGia" type="number" value="@Model.DonGia" class="form-control">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Loại sản phẩm</label>
                <select class="form-control select2" name="MaLoai">
                    @foreach (var item in ViewBag.LoaiSanPham)
                    {
                        <option value="@item.MaLoai">@item.TenLoai</option>
                        if (item.MaLoai == (int)Model.MaLoai)
                        {
                            <option value="@item.MaLoai" selected>@item.TenLoai</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox  custom-checkbox-success mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheckcolor2" name="DaXoa" value="true">
                    <label class="custom-control-label" for="customCheckcolor2">Hiển thị sản phẩm</label>
                </div>
            </div>
            <div class="container-img">
                <div class="preview">
                    <img id="img-preview" src="~/Upload/sanpham/@Model.HinhAnh" />
                    <label id="labelimg" for="file-input">Tải hình ảnh</label>
                    <input accept="image/*" type="file" name="hinhAnh" id="file-input" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label id="labelmota" for="moTa">Mô tả sản phẩm</label>
            <textarea class="summernote" name="MoTa">@Model.Mota</textarea>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light">Sửa</button>
</form>


@section ClientScript{
    @*img upload*@
    <script src="~/Assets/admin/js/pages/upload_img.js"></script>
    <!--tinymce js-->
    <script src="~/Assets/admin/libs/tinymce/tinymce.min.js"></script>

    <!-- Summernote js -->
    <script src="~/Assets/admin/libs/summernote/summernote-bs4.min.js"></script>
    <script src="~/Assets/admin/libs/select2/js/select2.min.js"></script>

    <!-- init js -->
    <script src="~/Assets/admin/js/pages/form-editor.init.js"></script>
    <script src="~/Assets/admin/js/pages/form-advanced.init.js"></script>
}

